body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */
    min-height: 100vh;
    background-color: #17153B;
}

h1 a {
    text-decoration: none;
    color: #C8ACD6;
    font-weight: 600;
}

.container {
    display: flex;
    width: 100%;
    max-width: 900px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 8px;
}

.user-input, .computer-input {
    flex: 1;
    text-align: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #433D8B;
    color: #C8ACD6;
}

.input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
